<div>
    <h2 id="page-heading">
        <span>Documents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document-draft-99" [routerLink]="['/document-draft-99/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="documents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="docName"><span>Doc Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="docDesc"><span>Doc Desc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="document"><span>Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="doctype"><span>Doctype</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="docFormat"><span>Doc Format</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="projectId"><span>Project</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let document of documents ;trackBy: trackId">
                <td><a [routerLink]="['/document-draft-99', document.id, 'view' ]">{{document.id}}</a></td>
                <td>{{document.docName}}</td>
                <td>{{document.docDesc}}</td>
                <td>
                    <a *ngIf="document.document" (click)="openFile(document.documentContentType, document.document)">open</a>
                    <span *ngIf="document.document">{{document.documentContentType}}, {{byteSize(document.document)}}</span>
                </td>
                <td>{{document.doctype}}</td>
                <td>{{document.docFormat}}</td>
                <td>
                    <div *ngIf="document.projectId">
                        <a [routerLink]="['../project-draft-99', document.projectId , 'view' ]" >{{document.projectId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/document-draft-99', document.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/document-draft-99', document.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'document-draft-99/'+ document.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="documents && documents.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
